<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-4.0</feature>
        <feature>jakartaee-8.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9081" httpsPort="9444" />

    <webApplication location="${project.name}.war" contextRoot="/">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>
    <mpMetrics authentication="false" />
    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />


    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="${jwt.issuer}" />

    <!--
        Tutorial:
        https://rieckpil.de/howto-simple-jms-application-with-the-embedded-messaging-engine-in-open-liberty/
    -->

    <!--
        https://openliberty.io/docs/21.0.0.5/reference/config/messagingEngine.html
    -->
    <messagingEngine>
        <queue id="QUEUE1" />
    </messagingEngine>

    <!--
        https://openliberty.io/docs/21.0.0.5/reference/config/jmsQueueConnectionFactory.html
    -->
    <jmsQueueConnectionFactory jndiName="jms/JmsFactory">
        <properties.wasJms remoteServerAddress="localhost:7276:BootStrapBasicMessaging" />
    </jmsQueueConnectionFactory>

    <!--
        https://openliberty.io/docs/21.0.0.5/reference/config/jmsQueue.html
    -->
    <jmsQueue id="simpleJmsQueue" jndiName="jms/MyQueue">
        <properties.wasJms queueName="QUEUE1" />
    </jmsQueue>

    <!--
        https://openliberty.io/docs/21.0.0.5/reference/config/jmsActivationSpec.html
    -->
    <jmsActivationSpec id="demo/MDB">
        <properties.wasJms destinationRef="simpleJmsQueue" destinationType="javax.jms.Queue" remoteServerAddress="localhost:7276:BootstrapBasicMessaging" />
    </jmsActivationSpec>


</server>
