<mat-form-field>
  <input matInput placeholder="Name" #formCreateName />
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="E-mail" #formCreateEmail />
</mat-form-field>
<button mat-raised-button (click)="btnCreate()" color="primary">Create</button>

<div *ngFor="let item of clients; let i = index">
  <mat-card class="client-card">
    <mat-card-content>
      <div *ngIf="enableForm == item.id; else elseBlock">
        <mat-form-field>
          <input
            matInput
            placeholder="Name"
            #formName
            value="{{ item.name }}"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            #formEmail
            value="{{ item.email }}"
          />
        </mat-form-field>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          (click)="btnUpdate(item.id)"
          >create</mat-icon
        >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          (click)="btnUpdateForm(-1)"
          >cancel</mat-icon
        >
      </div>
      <ng-template #elseBlock>
        {{ item.name }}
        {{ item.email }}
      </ng-template>
    </mat-card-content>

    <mat-card-actions>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        (click)="btnDelete(item.id)"
        >delete</mat-icon
      >
      <ng-template [ngIf]="enableForm != item.id">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          (click)="btnUpdateForm(item.id)"
          >update</mat-icon
        >
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
